/*======= index-1.html =======*/

#page2 .line-ver-1 {background-position: 291px 0%;}
#page2 .line-ver-2 {background-position: 578px 0%;}

#page2 .col-1 {width: 252px; padding: 0 16px 0 24px;}
#page2 .col-2 {width: 252px; padding: 0 15px 0 20px;}
#page2 .col-3 {width: 270px; padding: 0 0 0 20px;}

/*======= index-2.html =======*/

#page3 .line-ver-1 {background-position: 291px 0%;}

#page3 .col-1 {width: 252px; padding: 0 16px 0 24px;}
#page3 .col-2 {width: 557px; padding: 0 0 0 20px;}


/*======= index-3.html =======*/

#page4 .line-ver-1 {background-position: 291px 0%;}
#page4 .line-ver-2 {background-position: 578px 0%;}

#page4 .col-1 {width: 252px; padding: 0 16px 0 24px;}
#page4 .col-2 {width: 252px; padding: 0 15px 0 20px;}
#page4 .col-3 {width: 270px; padding: 0 0 0 20px;}


/*======= index-4.html =======*/

#page5 .line-ver-1 {background-position: 291px 0%;}

#page5 .col-1 {width: 252px; padding: 0 16px 0 24px;}
#page5 .col-2 {width: 557px; padding: 0 0 0 20px;}

/*======= index-5.html =======*/

#page6 .line-ver-2 {background-position: 578px 0%;}

#page6 .col-1 {width: 557px; padding: 0 0 0 20px;}
#page6 .col-2 {width: 252px; padding: 0 16px 0 24px;}

/*======= index-6.html =======*/

#page7 .line-ver-1 {background-position: 291px 0%;}
#page7 .line-ver-2 {background-position: 578px 0%;}

#page7 .col-1 {width: 252px; padding: 0 16px 0 24px;}
#page7 .col-2 {width: 252px; padding: 0 15px 0 20px;}
#page7 .col-3 {width: 255px; padding: 0 15px 0 20px;}

/*======= index-7.html =======*/

#page8 .col-1 {width: 809px; padding: 0 16px 0 24px;}
